@font-face {
    font-family:font_1 ;
    src: url(/QuickBite/public/font/BBH_Bogle/BBHBogle-Regular.ttf);
}
@font-face {
  font-family: font_2;
  src: url(/font/OFL.txt);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff4d30;
  font-family: font_2;
}

.logo span {
  color: #222;
}

.nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
  /* border: 2px solid black; */
}

.nav-links li {
  cursor: pointer;
  font-weight: 550;
  font-size: 18px;
  color: #333;
  font-family:font_2;
  /* border: 2px solid rgb(193, 103, 103); */
  

}

.nav-links li:hover {
  color: #ff4d30;
}

.nav-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #ff4d30;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* ========================= */
/* LARGE LAPTOP (<= 1200px) */
/* ========================= */
@media (max-width: 1200px) {
  .navbar {
    padding: 16px 40px;
  }

  .nav-links {
    gap: 24px;
  }
}

/* ========================= */
/* TABLET (<= 992px) */
/* ========================= */
@media (max-width: 992px) {
  .navbar {
    padding: 14px 30px;
  }

  .logo {
    font-size: 22px;
  }

  .nav-links {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: white;
    padding: 20px;
    gap: 15px;
    width: 180px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    z-index: 100;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px 16px;
  }

  .logo {
    font-size: 18px;
  }

  .cart-count {
    font-size: 10px;
    padding: 2px 5px;
  }
}
