.about {
  padding: 60px 0;
  background: #f9f9f9;
  position: relative;
  overflow: hidden;
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  z-index: 1;
  /* border: 2px solid black; */
}

.about_contain {
  flex: 1;
    
}

.about_contain h2 {
  font-size: 36px;
  margin-bottom: 15px;
  color: #222;
  text-align: center;
}

.about_contain p {
  font-size: 18px;
  line-height: 1.7;
  color: #121212;
  text-align: center;

}

.about_points {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_points :hover{
    cursor: pointer;
    color: #ff6b00;
}
.about_points div {
  margin-bottom: 8px;
  font-weight: 500;
}
.point {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
  background: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  max-width: 100%;
  width: 420px;
}
.icon {
  font-size: 20px;
  color: #ff6b00;
}

.point p {
  margin: 0;
  font-weight: 500;
  color: #201f1f;
}

.about_img {
  flex: 1;
}

.about_img img {
  width: 100%;
  border-radius: 10px;
}
/* Tablet & below */
@media (max-width: 1024px) {
  .point {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .about_points {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .point {
    width: 420px;
    max-width: 100%;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .point {
    width: 100%; 
  }
}
