
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categories {
 margin-top: 30px;

}

.heading h2 {
  /* border: 2px solid green; */
  text-align: center;
  margin-bottom: 30px;
  font-family: font_1;
  font-size: 40px;
  font-weight: 500;

}
.categories_container{
    /* border: 2px solid red; */
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    flex-wrap: wrap;

}
/* Card Design */
.card {
  background: #fff;
  border-radius: 18px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
  width: 20%;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(255, 77, 48, 0.25);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 77, 48, 0.15),
    rgba(255, 153, 102, 0.15)
  );
  opacity: 0;
  transition: opacity 0.35s ease;
}

.card:hover::before {
  opacity: 1;
}

/* Image */
.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 5px solid #fff;
  transition: transform 0.35s ease;
}

.card:hover img {
  transform: scale(1.08) rotate(3deg);
}

/* Text */
.card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: 8px;
  font-family: font_2;
}
.card p{
  font-family: font_2;
font-size: 18px;
  font-weight: 300;
}
/* .order-btn{
  padding: 12px 24px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:10px ;
} */
 .order-btn {
  padding: 12px 24px;
  background: rgb(247, 47, 47);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.order-btn:hover{
  background-color: #e63939;
}

@media (max-width: 1200px) {
  .card {
    width: 28%;
  }
}


@media (max-width: 992px) {
  .heading h2 {
    font-size: 34px;
  }

  .card {
    width: 40%;
  }

  .card img {
    width: 100px;
    height: 100px;
  }
}


@media (max-width: 768px) {
  .categories_container {
    justify-content: center;
  }

  .card {
    width: 80%;
  }

  .heading h2 {
    font-size: 30px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 16px;
  }
}


@media (max-width: 480px) {
  .heading h2 {
    font-size: 26px;
  }

  .card {
    width: 100%;
  }

  .card img {
    width: 90px;
    height: 90px;
  }

  .order-btn {
    width: 100%;
  }
}
