
@font-face {
  font-family: myfont;
  src: url(/public/Alegreya_SC/AlegreyaSC-ExtraBold.ttf);
}
@font-face {
  font-family: normalFont;
  src: url(/public/Alegreya_SC/AlegreyaSC-Medium.ttf);
}
.filter-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin: 30px 0 20px 0;
  
}

.filter-buttons button {
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
  font-family: normalFont;
  cursor: pointer;
}

.filter-buttons .active {
  background: orange;
  color: white;
  border: none;
}

.cards {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  padding: 16px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  /* border: 2px solid rgb(158, 43, 43); */

}

.card-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.tag {
  display: inline-block;
  margin-top: 8px;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
  background: #ffe5cc;
  color: #ff7a00;
}
.order-btn{
  padding: 8px 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:10px ;
}
.order-btn:hover{
  background-color: #e63939;
}

.filter-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin: 30px 0 20px 0;
  
}

.filter-buttons button {
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
  

  cursor: pointer;
}

.filter-buttons .active {
  background: orange;
  color: white;
  border: none;
}

.cards {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 10px;
}

.card {
  padding: 16px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  /* border: 2px solid rgb(158, 43, 43); */

}

.card-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.tag {
  display: inline-block;
  margin-top: 8px;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
  background: #ffe5cc;
  color: #ff7a00;
}
.order-btn{
  padding: 8px 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:10px ;
}
.order-btn:hover{
  background-color: #e63939;
}
@media (max-width: 1200px) {
  .card {
    margin-bottom: 20px;
  }
}
@media (max-width: 514px) {
  .filter-buttons{
    flex-wrap: wrap;
  }
}
